/JDCrawler/bin/cn/edu/pku/ss/*.class
/JDCrawler/bin/cn/edu/pku/ss/*.class
/JDCrawler/bin/cn/edu/pku/ss/*.class
/JDCrawler/bin/cn/edu/pku/ss/*.class
/JDAnalysis/bin/wangguicun/*.class
/JDAnalysis/*.jar

/view/image/素材
/JDAnalysis/bin/Dictionaries/*.txt
/JDAnalysis/bin/Dictionaries/*.txt
/JDAnalysis/bin/Dictionaries/*.txt
/JDAnalysis/bin/Dictionaries/*.dct
/JDAnalysis/bin/Dictionaries/*.txt
/JDAnalysis/bin/Dictionaries/*.txt
/JDAnalysis/bin/Dictionaries/*.txt

/JDAnalysis/bin/Segment/Dict
/JDAnalysis/bin/Segment/pangu
/JDAnalysis/bin/Segment/CustomRuleExample.dll
/JDAnalysis/bin/Segment/devidewords.exe
/JDAnalysis/bin/Segment/devidewords.exe.config
/JDAnalysis/bin/Segment/devidewords.pdb
/JDAnalysis/bin/Segment/devidewords.vshost.exe
/JDAnalysis/bin/Segment/devidewords.vshost.exe.config
/JDAnalysis/bin/Segment/devidewords.vshost.exe.manifest
/JDAnalysis/bin/Segment/PanGu.dll
/JDAnalysis/bin/Segment/PanGu.HighLight.dll
/JDAnalysis/bin/Segment/PanGu.xml
/JDAnalysis/bin/Segment/PosDisplayCtrl.dll
/JDAnalysis/bin/wangguicun/*.class
/JDAnalysis/bin/wangguicun/*.class
/JDAnalysis/bin/wangguicun/*.class

/JDCrawler/JARs/jfreechart/*.jar
/JDCrawler/JARs/jfreechart/*.jar
/JDCrawler/JARs/jfreechart/*.jar
/JDCrawler/JARs/jsoup/*.jar

/JDCrawler/JARs/mysql/*.jar
